.taskstilebody{
    width: calc(90vw - 30px);
    height: max-content;
    min-height: 8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    background-color: #7FC9EF;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.descbody{
    height: max-content;
    line-height: 20px;
}

.edittask-tile{
    display: none;
}